
*.css
*.png
*.scss
*.psd
*.ogv
*.mp4
*.webm
*.js
*.svg
*.woff2
*.woff
*.jpg
*.map
Design Files/Photoshop/Shyft/shyft-3
Design Files/Photoshop/Shyft/shyft-1
Design Files/Photoshop/Shyft/portfolio-item-3
Design Files/Photoshop/Shyft/portfolio-item-2
Design Files/Photoshop/Shyft/portfolio-item-1
Design Files/Photoshop/.DS_Store
Design Files/Images-Screenshots/.DS_Store
Design Files/.DS_Store
assets/video/Video Source Download Links.txt
assets/img/.DS_Store
assets/.DS_Store
