
*.psd
*.ogv
*.webm
*.map
Design Files/Photoshop/Shyft/shyft-3
Design Files/Photoshop/Shyft/shyft-1
Design Files/Photoshop/Shyft/portfolio-item-3
Design Files/Photoshop/Shyft/portfolio-item-2
Design Files/Photoshop/Shyft/portfolio-item-1
Design Files/Photoshop/.DS_Store
Design Files/Images-Screenshots/.DS_Store
Design Files/.DS_Store
assets/video/Video Source Download Links.txt
assets/img/.DS_Store
assets/.DS_Store
*.icloud
*.gif
Design Files/Photoshop_etc/Home/portfolio-item-1
Design Files/Photoshop_etc/Home/portfolio-item-2
Design Files/Photoshop_etc/iphone11overlay
*.aep
Design Files/Photoshop_etc/.DS_Store
Design Files/Photoshop_etc/Home/portfolio-item-1 copy
Design Files/Photoshop_etc/Home/portfolio-item-3
Design Files/Photoshop_etc/Shyft/.DS_Store
Design Files/Photoshop_etc/Shyft/shyft-1
Design Files/Photoshop_etc/Shyft/shyft-3
Design Files/Photoshop_etc/TransLoc/.DS_Store
Design Files/Photoshop_etc/TransLoc/transloc-3
Design Files/Photoshop_etc/TransLoc/transloc-3-gif
Design Files/Photoshop_etc/TransLoc/transloc-4
archive/.DS_Store
archive/2022-05-27/about.html
archive/2022-05-27/blog.html
archive/2022-05-27/comingsoon.html
archive/2022-05-27/focuspack.html
archive/2022-05-27/focuspackdev.html
archive/2022-05-27/index.html
archive/2022-05-27/mindfulrunning.html
archive/2022-05-27/nutrics.html
archive/2022-05-27/nutricsMobile.html
archive/2022-05-27/projects.html
archive/2022-05-27/scorereport.html
archive/2022-05-27/shyft.html
archive/2022-05-27/stravafocus.html
archive/2022-05-27/transloc.html
